@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-element {
    @apply bg-green-cerah text-white;
  }
  .btn-primary {
    @apply bg-blue-600  text-white;
  }
  .btn-danger {
    @apply bg-red-200   text-red-600;
  }
 
  .btn-white {
    @apply bg-white text-gray-800  border border-gray-300 ;
    /* @apply bg-blue-600 rounded-md text-white px-4 py-2; */
  }

  .title-page {
    @apply text-gray-800 mb-5 text-xl font-semibold;
  }

}
.btn-white , .btn-danger, .btn-primary, .btn-element{
@apply px-4 py-2 rounded-sm shadow-sm inline-flex items-center gap-1 mx-1 ;
}

img {
  max-height: 100%;
}

input,
textarea,
select {
  @apply border  mb-2 border-gray-200 rounded-sm px-2 py-2 w-full md:w-[50%] flex shadow-sm;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-primary;
}

label {
  @apply text-gray-800 text-sm;
}

table.basic {
  @apply w-full  bg-white rounded-sm shadow-md;
}

table.basic thead tr td {
  @apply text-sm text-gray-700 uppercase border-b border-gray-200 px-4 py-2;
}

table.basic tr td {
  @apply px-4 py-1;
}
